@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* SpeedReading.css */

.text-display-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .text{
    font-weight: 600;
  }
  
  .text-container {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .progress-bar-container {
    margin-bottom: 20px;
    width: 50%;
  }
  
  .progress-bar {
    background-color: #ddd;
    height: 16px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .progress {
    background-color: #7597ff;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
  }
  
  .finished-text {
    color: #3df700;
    font-family: "Exo 2";
  }

  .finish-cont{
    font-family: "Exo 2";
  }
  